.bs-home-page .content-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    height: 100vh;
    width: 100%;
    
}

.text-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    
}

.email-signUp {
    margin-right: 100px;
    margin-left: 20px;
    padding-top: 10px;
}

.home-text-h2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.image-section {
    background-image: url('/../NSS-Bought-Sold/src/assets/NashvilleBatman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-text-p {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.home-text {
    color: black;
}

div.bs-home-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: left;
    margin: 0;
    padding: 0;
}


.home-btn {
    margin-top: 50px;
    padding: 15px 50px 15px 50px;
}

