.edit-article {
    max-width: 600px; 
    margin: auto;
    background: #181818;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-article-heading {
    color: #ffffff;
    text-align: center;
}

.edit-article-form {
    width: 100%;
    padding: 10px;
}

.form-group-inline { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.input-title {
    width: 70%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
    margin-right: 10px; 
}

.textarea-content {
    width: 100%;
    height: 240px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

.input-image {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

.select-category {
    width: 20%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

.form-group-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.edit-article-delete-btn, .edit-article-save-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.edit-article-delete-btn {
    background-color: #f44336;
}

.edit-article-delete-btn:hover, .edit-article-save-btn:hover {
    opacity: 0.8;
}





