#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FFFCF2;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px 0; 
  font-family: "Playfair Display", serif;
  
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3; 
}

a {
  text-decoration: none;
  color: inherit;
}

 /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 900 */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
